body    {
    background-image:url(bg.jpg);
    background-repeat: no-repeat;
    position: fixed;
    background-color: #b28306,;
   /* background-color: #ebcd7c,; */
}

header{
    background-color: #b28306,;
    justify-content: center;
}

.contenedor {
    display: flex;
    flex-wrap: nowrap;
    background-color: #ebcd7c ;
    width:800px ;

}
.contenedor > div {
    
 }

