body    {
    width: 960px;

}
h1  {
    text-align: center  ;
}



.datos, .descripcion{
    float: left;
    padding: 0;
    margin: 0;
}

.datos{
    width: 260px;
}

.descripcion    {
    width: 700px;
}

.contenidolibro {
}

li  {
    float: left;
    width: 33%;
}
