body    {
     background-color: black ; 
}

.perro  {
    width:1300px  ;
    height:250px ;
    position: fixed;
    top: -50px;
    right: 0px;
} 

.paginas    {
    left:0px;
    margin-left: 0px ;
    line-height: 70px;
    background-color: rgb(221, 245, 220);
    width:200px;
    height: 1000px;
    float: left;
    margin-top: 190px;
}

a   {
    text-decoration: none;
}
.puno   {
    left: 325px;
    position: relative;
    text-align: center;
    text-align: justify;
    width: 700px;
    height: 100px;
    top: 250px;
    color: white;
    text-indent: 20px;
    }
.derecha    {
    line-height: 70px;
    background-color: rgb(221, 245, 220);
    margin-top: -160px;
    width:200px;
    height: 1000px;
    float: right;
    background-image: url(leche.png);
    
}

.gambol {
    width:270px ;
    height: 200px;
    margin-left: 30px;
    margin-top: -90px;
}

.pdos   {
    left: 20px;
    position: relative;
    text-align: center;
    text-align: justify;
    width: 1000px;
    height: 100px;
    top: 380px;
    color: white;
    text-indent: 20px;

}

.ptres  {
    left: 325px;
    position: relative;
    text-align: center;
    text-align: justify;
    width: 700px;
    height: 100px;
    top: 750px;
    color: white;
    text-indent: 20px;

}

.gamboldos  {
    width:270px ;
    height: 200px;
    margin-left: 30px;
    margin-top: 520px;
}