body    {
     background-color: black ; 
}

.perro  {
    width:1300px  ;
    height:250px ;
    position: fixed;
    top: -50px;
    right: 0px;
} 

.paginas    {
    left:0px;
    margin-left: 0px ;
    line-height: 70px;
    background-color: rgb(221, 245, 220);
    width:200px;
    height: 700px;
    float: left;
    margin-top: 225px;
}

a   {
    text-decoration: none;
}
.puno   {
    left: 325px;
    position: relative;
    text-align: center;
    text-align: justify;
    width: 700px;
    height: 100px;
    top: 250px;
    color: white;
    }
.derecha    {
    line-height: 70px;
    background-color: rgb(221, 245, 220);
    width:200px;
    height: 700px;
    float: right;
    
}

img {
    width:250px ;
    height: 200px;
    margin-left: 30px;
    margin-top: 20px;
}

.pdos   {
    left: 20px;
    position: relative;
    text-align: center;
    text-align: justify;
    width: 1000px;
    height: 100px;
    top: 350px;
    color: white;
}