*   {
    box-sizing: border-box;
}

body    {
    color: white;
    margin: 0 auto;
}

header  {
    text-align: center;
    background-color: darkgray;
}

.wrapper  {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: white;
    font-family:"Century Gothic", Helvetica, arial, sans-serif;
    font-weight: 1.1em;
    width: 100%;

}

#imagen {
    width: 20%;
    border-radius: 10px;
    border: 5px solid gold ;
}

nav  {
    background-color: lightseagreen;
    width: 15%;
    border-radius: 8px 8px 8px 8px;
    
}

.contenido  {
    background-color: rgb(2, 109, 2);
    width: 85%;
    border-radius: 8px 8px 8px 8px;

}
footer  {
    background-color: darkgoldenrod;
    text-align: center;
}

