body    {
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    
}



.contenedor > div   {
    text-align: center;
    
}
.contenedor {
    display: grid;
    width: 80%;
    text-align: center;
    grid-template-areas:
    'header header'
    'menu menu'
    'contenido banners'
    'footer footer';
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

 

.header {
    grid-area: header;
    height: 10vh;
    background-color: lightskyblue;
}

.menu   {
    grid-area: menu;
    height: 10vh;
    background-color:lightyellow;

}

.contenido  {
    grid-area: contenido;
    height: 22vh;
    background-color: lightsalmon;


}

.banners    {
    grid-area: banners;
    height: 22vh;
    background-color: lightseagreen;

}

.footer {
    grid-area: footer;
    height: 10vh;
    background-color: lightgray;

}





