*   {
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(52,49,49);
    padding: 1rem;
}

.contenedor {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    gap: 1em;
    grid-template-columns: 30% 70%;
}

.izquierda  {
    width: 1fr;
    background-color: rgb(11, 76, 26);
    color: white;
}

header{
    font-weight: bold;
}
input{
    width: 100%;
}

input:focus, textarea:focus {
    border: 3px solid gold;
}

.informe    {
    width: 2fr;
    display: grid;
    
}

