body    {
    padding: 0;
    margin: 0;
}

.numeros    {
    display: flex;
    border-width: 2px;
    border: red solid ;
    font-size:3em;
    align-items: center;
    color: white;
    text-align: center;
    box-sizing: border-box;
}

.numeros > div  {
    width:10%;
    height:6vh;
}


.uno   {
    background-color: mediumspringgreen;
    order: 2;
}

.dos    {
    background-color:rgb(0, 132, 255) ;
    order: 3;
}
.tres    {
    background-color:purple ;
    order: 4;
}
.cuatro    {
    background-color: rgb(9, 9, 102);
    order: 5;
}
.cinco    {
    background-color: yellow;
    order: 1;
}
.seis    {
    background-color: orange;
    order: 10;
}
.siete    {
    background-color:red ;
    order: 6;
}
.ocho    {
    background-color:rgb(173, 173, 173) ;
    order: 7;
}
.nueve    {
    background-color:rgb(22, 138, 22) ;
    order: 8;
}
.diez    {
    background-color:rgb(21, 155, 155) ;
    order: 9;
}