*   {
    box-sizing: border-box;
}

.cajapadre  {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.caja1 {
    width: 33%;
    background-color: aquamarine;
}

.caja2  {
    width: 33%;
    background-color: blueviolet;
}

.caja3  {
    width: 33%;
    background-color: brown;
}

